{% extends "base.html" %}
{% block title %}
    Home page
{% endblock %}
{% block styling %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/books7.jpg" alt="Los Angeles" width="1920" height="500">
            </div>
            <div class="carousel-item">
                <img src="../static/images/books4.jpg" alt="Chicago" width="1920" height="500">
            </div>
            <div class="carousel-item">
                <img src="../static/images/books6.jpg" alt="New York" width="1920" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br><br><br>
    <center>
    <p><h3>Today's Suggest Book</h3></p>
        <br><br>
    <img src="../static/images/bookplaceholderreplace.png" alt="placeholderbook">
        <br><br>
        <table width="40%">
            <tr>
                <td align="center">
                    <h5><p class="serif">{{ name }}</p></h5>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h5><p class="serif">{{ author }}</p></h5>
                </td>
            </tr>
        </table>
    </center>
{% endblock %}
